{{#openApiNullable}}{{#isNullable}}JsonNullable<{{{datatypeWithEnum}}}>{{/isNullable}}{{^isNullable}}{{{datatypeWithEnum}}}{{/isNullable}}{{/openApiNullable}}{{^openApiNullable}}{{#required}}{{#isNullable}}@Nullable {{/isNullable}}{{{datatypeWithEnum}}}{{/required}}{{^required}}@Nullable OptionalProperty<{{#isNullable}}@Nullable {{/isNullable}}{{{datatypeWithEnum}}}>{{/required}}{{/openApiNullable}}